
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


nav{
  padding-left: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  color: #ffeba8;
  background-color: rgba(0, 0, 0, 0.89);
  height: 65px;

}
#hero{
  padding-bottom: 150px;
}
#hero button{
  background-color: #ffde21;
  color: rgb(255, 255, 255);
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border-style: hidden;
  width: 210px;
  height: 80px;
  filter: drop-shadow(0 0 10px #ffd95ac0);
  margin-top: 35px;
}

nav ul{
  font-size: 20px;
  padding-left: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav li{
  padding: 15px;
}

body{
  Font-family: 'Cormorant Garamond', serif;
  background-image: url(./images/elden-ring-character-melina-4k-wallpaper-uhdpaper.com-785@1@f.jpg);
  background-size: 100%; 
  margin: 0;
}
#about{
  background-image: url(./images/gif\ 3.gif);
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100%;
  padding-top: 50px;
}
#about p{
  font-size: 20px;
}

#video1{
  display: flex;
  padding-bottom: 140px;
  padding-left: 40px;
}
#video2{
  display: flex;
  padding-bottom: 100px;
  text-align: right;
  padding-right: 40px;
}
#video2 p, h1{
  margin-right: 40px;
}
#video3{
  display: flex;
  padding-bottom: 150px;
  padding-left: 40px;
}
.txt-video{
  color: white;
  padding-left: 40px;
}

#review{
  background-color: #000000e1; 
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 1px;
}