
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./Mantinia\ Regular.otf');




nav{
  padding-left: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.89);
  height: 65px;

}
.li_opcoes:hover{
  color:#ffe07c;
  transition: all 0.6s;
  cursor: pointer;
  filter: drop-shadow(0 0 10px #ffd95ac0);
  border: none;
}
#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center; 
  margin: 250px; 
  font-size: 25px;
  
}
#hero button{
  background-color: #ffe02b;
  color: rgb(255, 255, 255);
  font-size:19px;
  font-weight: bold;
  font-family: "Mantinia Regular";
  border-radius: 10px;
  border-style: hidden;
  width: 210px;
  height: 80px;
  filter: drop-shadow(0 0 10px #ffd95ac0);
  margin-top: 35px;
  cursor: pointer;
}

#hero button:hover{
  transform: scale(1.1);
  transition: all 0.5s;
  filter: drop-shadow(0 0 50px #ffd95a);
  background-color: #ffe02b;
  border: none;
}

nav ul{
  font-size: 20px;
  padding-left: 20px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav li{
  padding: 15px;
  font-size: 18px;
  
}


body{
  Font-family: 'Mantinia Regular';
  background-image: url(./images/elden-ring-character-melina-4k-wallpaper-uhdpaper.com-785@1@f.jpg);
  background-size: 100%; 
  margin: 0;
}
#about{
  width: 100%;
  background-image: url(./images/bolus-recipe-elden-ring-v0-vv6w35c7nvwa1.gif);
  background-size:cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.911);
  padding-top: 15px;
  font-family: 'Mantinia Regular';
}

#about p{
  font-size: 20px;
}
#about h1{
  font-size: 25px;
}

#video1{
  display: flex;
  padding-left: 150px;
  padding-bottom: 100px;
}
#video2{
  display: flex;
  text-align: right;
  padding-left: 150px;
  padding-bottom: 100px;
}
#video2 p, h1{
  margin-right: 40px;
}
#video3{
  display: flex;
  padding-left: 150px;
  padding-bottom: 100px;
}
.txt-video{
  color: white;
  padding-left: 40px;
}

#video2 .txt-video{
  display: flex;
  flex-direction: column;
  align-items: end;
}
#requisitos{
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/gif\ elden\ ring\ 4.gif);
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.685);
  height: 700px;
}
#requisitos table{
  color: white;
  text-align: left;
  font-size: 20px;
  border-spacing: 25px;
  font-family: "Rubik", sans-serif;
}
#requisitos h1{
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  padding-bottom: 55px;
  padding-top: 55px;
}
.tabela td{
  color: white;
  border: 1px solid white;
  padding-right: 25px;
  padding: 25px;
}

#adquira{
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Rubik", sans-serif;
  background-image: url(./images/giphy.gif);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.808);
  background-size: cover;
}
#adquira h1{
  padding-bottom: 45px;
  font-size: 50px;
  padding-top: 25px;
}
#botoes{
  display: flex;
  gap: 55px;
  padding-top: 35px;
}

 
#xbox{
  height: 85px;
  width: 300px;
  border: 1px solid white;
  border-radius: 8px;
  background-image: url(./images/1280px-XBOX_logo_2012.svg.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#xbox:hover{
  transform: scale(1.2);
  transition: all 0.5s;
  filter: drop-shadow(0 0 65px #5aff5a);
  background-color:#ffffffc0;
  border: none;
}

#playstation{
  height: 85px;
  width: 300px;
  border: 1px solid white;
  border-radius: 8px;
  background-image: url(./images/PS5-white-logo-transparent-background.webp);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#playstation:hover{
  transform: scale(1.2);
  transition: all 0.5s;
  filter: drop-shadow(0 0 65px #0084ff);
  background-color: #000747;
  border: none;
}
#pc{
  height: 85px;
  width: 300px;
  border: 1px solid white;
  border-radius: 8px;
  background-image: url(./images/BWs3+k.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
#pc:hover{
  transform: scale(1.2);
  transition: all 0.5s;
  filter: drop-shadow(0 0 65px #ffffff);
  background-color: rgb(18, 20, 56);
  border: none  ;

}

#formulario{
  font-family:"Rubik", sans-serif;
  background-image: url(./images/gif\ malekiht.gif);
  background-blend-mode: overlay;
  background-size: cover;
  background-color: #000000f8;
}
#msg{
  background-color: rgba(255, 255, 255, 0);
  padding: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
#msg input{
  width: 40%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  font-family: "Rubik", sans-serif;
}
#msg button{
  background-color: #c19d53;
  border: none;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 10%;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  margin-top: 25px;
}
#msg button:hover{
  filter: drop-shadow(0 0 30px #ffd95a);
  border: 1px solid #c19d53;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s;


}
.erro{
  color: rgb(255, 31, 31);
  display: none;
  font-size: 13px;
}




/*, forms,*/